@using SKV.ML.Concrete.Model.UserModel;

@model User

@using SKV.BLL.Other
@using SKV.ML.Concrete

@using SKV.PL.ClientSide.Concrete;
@using SKV.PL.ClientSide.Components.VerticalFormField

@{
    string ctrl = ClientSideConfiguration.AngularUserManagerControllerName;
}

@(ComponentFactory.Create<VerticalFormFieldMvc>()
                  .ImportFromModel(CacheObject.Get<VerticalFormFieldMvcModel>(CacheItemClass.UI, (int)UIComponentKey.PasswordChanging_OldPassword)).Render())

@(ComponentFactory.Create<VerticalFormFieldMvc>()
                  .ImportFromModel(CacheObject.Get<VerticalFormFieldMvcModel>(CacheItemClass.UI, (int)UIComponentKey.PasswordChanging_NewPassword)).Render())

@(ComponentFactory.Create<VerticalFormFieldMvc>()
                  .ImportFromModel(CacheObject.Get<VerticalFormFieldMvcModel>(CacheItemClass.UI, (int)UIComponentKey.PasswordChanging_NewPasswordConfirm)).Render())


<div class="row">
    <div class="col-lg-6">
        <button class="btn btn-flat btn-primary btn-block" ng-click="@(ctrl).ChangePassword()">Изменить пароль</button>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-flat btn-primary btn-block" ng-click="@(ctrl).HideUserProfileModal()">Отмена</button>
    </div>
</div>
