@using SKV.ML.ViewModels.Common;
@using SKV.PL.Helpers;

<!DOCTYPE html>
<html ng-app="SKV">
<head>
    <meta charset="UTF-8">
    <title>Система управления обменным пунктом</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">*@

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/Admin/assets/libs/bootstrap/css/bootstrap.min.css" />

    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="~/Content/Admin/assets/libs/bootstrap/js/bootstrap.min.js"></script>

    @Styles.Render("~/style_bundles/base_css")
    @Styles.Render("~/style_bundles/style-responsive")

    <link rel="stylesheet" href="~/Content/Site.css" />

    @Styles.Render("~/Content/BaseCssFiles")
    @Styles.Render("~/Content/ExtraCSSLibraries")*@

    <link rel="stylesheet" href="~/Content/Site.css" />
    @*----ACE----*@

    <link rel="stylesheet" href="~/Content/ace/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
    <!--[if lte IE 9]>
            <link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
        <![endif]-->
   

    @*----ACE----*@

    <!-- Base Css Files -->
    <link href="~/Content/Admin/assets/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/fontello/css/fontello.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/animate-css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/nifty-modal/css/component.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/ios7-switch/ios7-switch.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/pace/pace.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/sortable/sortable-theme-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="~/Content/Admin/assets/libs/jquery-icheck/skins/all.css" rel="stylesheet" />
    <!-- Code Highlighter for Demo -->
    <link href="~/Content/Admin/assets/libs/prettify/github.css" rel="stylesheet" />

    <!-- Extra CSS Libraries Start -->
    <link href="~/Content/Admin/assets/libs/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Admin/assets/libs/summernote/summernote.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Admin/assets/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Extra CSS Libraries End -->
    <link href="~/Content/Admin/assets/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="~/Scripts/lodash.underscore.min.js"></script>

    @Scripts.Render("~/script_budles/angular")

    <script src="~/Infrastructure/Application/Application.js"></script>
    <script src="~/Infrastructure/Services/Security/AuthService.js"></script>
    

    @RenderSection("Scripts", required: false)

    <link rel="shortcut icon" href="~/Content/Admin/assets/img/favicon.ico">
    <link rel="apple-touch-icon" href="~/Content/Admin/assets/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/Admin/assets/img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/Admin/assets/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Admin/assets/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/Admin/assets/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Admin/assets/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/Admin/assets/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Admin/assets/img/apple-touch-icon-152x152.png" />
</head>

<body class="fixed-left">
    <div id="wrapper">
        <div class="topbar">
            <div class="topbar-left">
                <div class="logo">
                    <h1><a href="#"><img src="~/Content/Admin/assets/img/logo.png" alt="Logo"></a></h1>
                </div>
                <button class="button-menu-mobile open-left">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-collapse2">
                        <ul class="nav navbar-nav hidden-xs">
                            @Html.Partial("AdditionalSidebarPartital")
                            @Html.Partial("LanguageSidebarPartital")
                        </ul>
                        <ul class="nav navbar-nav navbar-right top-navbar">
                            @Html.Partial("NotificationsSidebarPartital")
                            @Html.Partial("MessagesSidebarPartital")
                            <li class="dropdown iconify hide-phone"><a href="#" onclick="javascript:toggle_fullscreen()"><i class="icon-resize-full-2"></i></a></li>
                            @Html.Partial("UserSidebarPartital")

                            <li class="right-opener">
                                <a href="javascript:;" class="open-right"><i class="fa fa-angle-double-left"></i><i class="fa fa-angle-double-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <br />
                <div class="clearfix"></div>

                @Html.Partial("UserProfileInfoPartital")

                <div class="clearfix"></div>
                <hr class="divider" />
                <div class="clearfix"></div>

                @Html.CreateSidebarMenu((IEnumerable<UIMenuItemView>)ViewBag.UIMenuItems);

                <div class="clearfix"></div>
            </div>
        </div>

        @Html.Partial("RightSidebarPartital")


        <div class="content-page">
            <div class="content">
                @RenderBody()

                        
            </div>
        </div>
    </div>
    
   
    @*<script>
		var resizefunc = [];
    </script>

    @Scripts.Render("~/Content/JQueryLibs")
    @Scripts.Render("~/Content/PageSpecificJSLibs")*@

    <script>
		var resizefunc = [];
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/Admin/assets/libs/jquery/jquery-1.11.1.min.js"></script>
    <script src="~/Content/Admin/assets/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Admin/assets/libs/jqueryui/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="~/Content/Admin/assets/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Content/Admin/assets/libs/jquery-detectmobile/detect.js"></script>
    <script src="~/Content/Admin/assets/libs/jquery-animate-numbers/jquery.animateNumbers.js"></script>
    <script src="~/Content/Admin/assets/libs/ios7-switch/ios7.switch.js"></script>
    <script src="~/Content/Admin/assets/libs/fastclick/fastclick.js"></script>
    <script src="~/Content/Admin/assets/libs/jquery-blockui/jquery.blockUI.js"></script>
    <script src="~/Content/Admin/assets/libs/bootstrap-bootbox/bootbox.min.js"></script>
    <script src="~/Content/Admin/assets/libs/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/Content/Admin/assets/libs/jquery-sparkline/jquery-sparkline.js"></script>
    <script src="~/Content/Admin/assets/libs/sortable/sortable.min.js"></script>
    <script src="~/Content/Admin/assets/libs/bootstrap-fileinput/bootstrap.file-input.js"></script>
    <script src="~/Content/Admin/assets/libs/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/Admin/assets/libs/bootstrap-select2/select2.min.js"></script>
    <script src="~/Content/Admin/assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Admin/assets/libs/pace/pace.min.js"></script>
    <script src="~/Content/Admin/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/Admin/assets/libs/jquery-icheck/icheck.min.js"></script>

    <!-- Demo Specific JS Libraries -->
    <script src="~/Content/Admin/assets/libs/prettify/prettify.js"></script>

    <script src="~/Content/Admin/assets/js/init.js"></script>
    <!-- Page Specific JS Libraries -->
    <script src="~/Content/Admin/assets/libs/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/Admin/assets/libs/bootstrap-inputmask/inputmask.js"></script>
    <script src="~/Content/Admin/assets/libs/summernote/summernote.js"></script>
    <script src="~/Content/Admin/assets/js/pages/forms.js"></script>

    @*----ACE----*@

    <!-- page specific plugin scripts -->
   

    @*----ACE----*@
</body>
</html>