@model SKV.PL.ClientSide.Components.Tabs.TabsMvcModel

<ul id="@Model.Id" class="nav nav-tabs">
    @foreach (var tab in Model.Tabs)
    {
        <li class="@(tab.Active ? "active" : string.Empty)">
            <a href="#@tab.Id" data-toggle="tab">@tab.Title</a>
        </li>
    }    
</ul>

<div class="tab-content tab-boxed">
    @foreach (var tab in Model.Tabs)
    {
        <div class="tab-pane fade @(tab.Active ? "active in" : string.Empty)" id="@tab.Id">
            @MvcHtmlString.Create(tab.Body.Render())
        </div>
    }
</div>
