@model SKV.PL.ClientSide.Components.VerticalFormField.VerticalFormFieldMvcModel

@using SKV.PL.ClientSide.Abstract.Components;

@{
    string ctrl = ClientSideConfiguration.AngularUserManagerControllerName;
}

<div class="row">
    <div class="col-lg-12">
        @if (Model.Type == UIFieldType.Input)
        {
            <div class="form-group has-feedback">
                <label class="control-label"><b>@Model.LocalizedTitle:</b></label>
                <i class="@Model.IconClass"></i>
                <input @MvcHtmlString.Create(Model.CustomAttributes) class="form-control" style="{{ @(ctrl).ModelState.@(Model.FieldPath) }}" ng-model="@(ctrl).CurrentUser.@Model.FieldPath" />
            </div>
        }
        else if (Model.Type == UIFieldType.Dropdown)
        {

        }
        else if (Model.Type == UIFieldType.Buttons)
        {
            <label><b>@Model.LocalizedTitle: </b></label>
            <div class="btn-group btn-group-justified" data-toggle="buttons" style="{{ @(ctrl).ModelState.@(Model.FieldPath) }}">
                <label ng-repeat="item in @(ctrl).DropdownData.@Model.FieldPath" class="btn btn-flat btn-success" ng-click="@(ctrl).@(Model.ButtonClickFunctionName)(role)">
                    <input type="checkbox">{{ item@(Model.ButtonTitleFieldPath) }}
                </label>
            </div>
        }
    </div>
</div>

