@using SKV.ML.Concrete.Model.UserModel;

@using SKV.BLL.Other
@using SKV.ML.Concrete

@using SKV.PL.ClientSide.Concrete;
@using SKV.PL.ClientSide.Components.VerticalFormField

@using Config = SKV.Configuration;

@{ 
    string ctrl = Config.AngularControllerAs.UserManagerControllerAs;
}

@(ComponentFactory.Create<VerticalFormFieldMvc>()
                  .ImportFromModel(CacheObject.Get<VerticalFormFieldMvcModel>(CacheItemClass.UI, (int)UIComponentKey.UserManager_UserName_Field)).Render())

@(ComponentFactory.Create<VerticalFormFieldMvc>()
                  .ImportFromModel(CacheObject.Get<VerticalFormFieldMvcModel>(CacheItemClass.UI, (int)UIComponentKey.UserManager_Email_Field)).Render())

@(ComponentFactory.Create<VerticalFormFieldMvc>()
                  .ImportFromModel(CacheObject.Get<VerticalFormFieldMvcModel>(CacheItemClass.UI, (int)UIComponentKey.UserManager_UserProfile_Name_Field)).Render())

@(ComponentFactory.Create<VerticalFormFieldMvc>()
                  .ImportFromModel(CacheObject.Get<VerticalFormFieldMvcModel>(CacheItemClass.UI, (int)UIComponentKey.UserManager_PhoneNumber_Field)).Render())

@(ComponentFactory.Create<VerticalFormFieldMvc>()
                  .ImportFromModel(CacheObject.Get<VerticalFormFieldMvcModel>(CacheItemClass.UI, (int)UIComponentKey.UserManager_UserProfile_AsteriskId)).Render())

@(ComponentFactory.Create<VerticalFormFieldMvc>()
                  .ImportFromModel(CacheObject.Get<VerticalFormFieldMvcModel>(CacheItemClass.UI, (int)UIComponentKey.UserManager_Roles)).Render())


<br />

<div class="row">
    <div class="col-lg-6">
        <button class="btn btn-flat btn-primary btn-block" ng-click="@(ctrl).UpdateUserData()">Сохранить</button>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-flat btn-primary btn-block" ng-click="@(ctrl).HideUserProfileModal()">Отмена</button>
    </div>
</div>
